html, body {
  height: 100%;
}

.page-wrapper {
  height: 100%;
  width: 100%;
  background: url('http://wallpapercave.com/wp/bV3WiYh.jpg');
  background-size: cover;
}

$def-color: rgb(255, 255, 0);
$nav-height: 40px;
$def-font: Arial, sans-serif;

.star-wars-app {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: $def-font;
  color: $def-color;
  .characters {
    &:after {
      content:"";
      display:table;
      clear:both;
    }
    
    .character {
      float: left;
      width: 25%;
      text-align: center;
      &.selected {
        .character-text {
          text-decoration: underline;
        }
      }
    }
    
    .character-text {
      line-height: $nav-height;
      &:hover {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
  
  .films {
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0px;
    
    .film {
      display: none;
      &.visible {
        display: block;
      }
    }
    
    .film-text {
      margin: 0px auto;
      width: 350px;
      text-align: justify;
      &:after {
          content: "";
          display: inline-block;
          width: 100%;
      }
    }
  }
}
